label {
    font-size: 14px;
    font-weight: bold;
    margin: 2px 10px;
}
.categories {
    padding: 40px 0;
}
.box-contain {
    border: 1px solid #e7ecf1;
    padding: 12px 20px 15px 20px;
    background-color: #fff;
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.03);
}
.head {
    padding: 10px 0;
    border-bottom: 1px solid #e7ecf1;
    margin: 10px 0;
}
.head h4, .new-item .modal-header h3 {
    display: inline-block;
    vertical-align: middle;
    color: #79B0CE;
    font-weight: bold;
    margin:  0;
}
.head button {
    margin: 0 20px;
    vertical-align: middle;
    padding: 5px 15px;
}
.bar-search {
    padding: 10px 0;
    text-align: right;
}
.bar-search input {
    width: 35%;
    display: inline-block;
    vertical-align: middle;
}
.bar-search button {
    margin: 0 15px;
}
.img-container {
    vertical-align: middle;
    overflow: hidden;
    position: relative;
}
.img-container [type=file] {
    cursor: pointer;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.new-item {
    background: #fafafa;
}
.new-item .modal-body {
    box-shadow: 0px 2px 3px 5px rgba(0, 0, 0, 0.03);
    margin: 20px 25px;
}
.new-item .modal-body input{
    border-radius: 20px;
}
.new-item .modal-body .btn-submit {
    margin: 50px 0 0px 0px;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 16px;
}
.imfShadow {
    box-shadow: 0px 2px 3px 4px rgba(0, 0, 0, 0.03);
}
.imfShadow img {
    width: 180px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #fff;
}
.image-upload button {
    vertical-align: bottom;
    margin: 0 20px;
}
.required {
    margin: 0px 20px;
    font-size: 14px;
    color: red;
}
.product-img {
    width: 120px;
    height: 70px;
    object-fit: cover;
    border: 3px solid #fafafa;
}