#header {
    position: fixed;
    background-color: #F8F8F8;
    border-bottom: 2px solid #79B0CE;
    top: 0;
    width: 100%;
}
#header ul {
    list-style: none;
    float: right;
    margin: 0;
}
#header ul li {
    display: inline-block;
    padding: 20px 0;
    border-left: 1px solid #dadada;
}
#header ul li a {
    color: #000;
    text-decoration: none;
    padding: 20px 25px;
}
#header .logo {
    float: left;
}